<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     Iusto dolor non sunt at minima magnam adipisci, alias inventore officiis tenetur. 
     Officia suscipit iure distinctio quisquam blanditiis porro voluptates velit nobis?
</body>
</html>